@import "utils";

.help {
  padding: 40px 0 80px;

  @media (max-width: 560px) {
    padding: 20px 0;
  }

  &__title {
    margin-bottom: 60px;
    color: $headersTextColor;
    text-align: center;

    @media (max-width: 560px) {
      font-size: 48px;
    }

    @media (max-width: 415px) {
      font-size: 40px;
      line-height: 46px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      align-items: center;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__img-wrap {
    max-width: 580px;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__cards {

    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;

    @media (min-width: 1200px) {
      padding-top: 85px;
    }

    @media (max-width: 768px) {
      padding-left: 0;
      align-items: center;
    }

    @media (min-width: 480px) {
      min-width: 450px;
    }
  }

  &__card {
    margin-bottom: 45px;
  }

}
