@import "utils";

.testimonial {
  width: 370px;
  height: 467px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
  transition: all 0.5s;

  @media (max-width: 370px) {
    padding: 24px;
  }

  &__text {
    @include text(18px, 32px);
    margin-bottom: 40px;
  }

  &__pic {
    margin-bottom: 24px;
  }

  &__company {
    @include text(18px, 36px);
  }
}

.testimonial:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
}
