@import "utils";

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  &__logo {
    margin-right: 24px;
  }

  &__link {
    display: inline-block;
    height: 28px;
  }

  &__contacts {
    display: flex;
    position: relative;
    align-items: center;
  }

  &__phone {
    margin-right: 20px;

    @media (max-width: 890px) {
      display: none;
    }
  }

  &__button {
    @include btnStyle($colorWhite, $mainColor, 40px);
    min-width: 113px;
    padding: 0 16px;
    transition: all 500ms ease;
  }

  &__button:before {
    @include btnBefore($colorWhite);
  }

  &__button:hover:before {
    height: 40px;
  }
}
