$headersFont: "halyard-display", sans-serif;
$textFont: "halyard-text", sans-serif;
$textColor: #455880;
$mainColor: #3751ff;
$linkColor: #fed385;
$launchTextColor: #dfe0eb;
$colorWhite: #fff;
$headersTextColor: #1e266d;
$borderColor: #f8aec3;
$pinkColor: #f47b9e;
$hoverPink: #facfca;
$simplicityColor: #fff9ea;
